<div class="container">
    <div class="row">
        &nbsp;
        <mat-form-field class="full-width">
            <mat-label>Numeric Keyboard</mat-label>
            <input inputmode="numeric" type="tel" matInput placeholder="Number Value">
        </mat-form-field>
        <!-- &nbsp;
        <mat-form-field class="full-width">
            <mat-label>Numeric Keyboard</mat-label>
            <numeric-input type="number" placeholder="touch to input" [(ngModel)]="amount"></numeric-input>
        </mat-form-field> -->
    </div>
</div>